<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/moviecalendar</property>
        <!--<property name="connection.username">root</property>
        <property name="connection.password">student</property>-->
        <property name="connection.username">root</property>
        <property name="connection.password">uBUs4XoxU9UsEw</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- c3p0 timeout settings -->
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">300</property>
        <property name="c3p0.max_statements">50</property>
        <property name="c3p0.idle_test_period">3000</property>

        <!-- List the annotated entity class/es -->
        <mapping class="edu.matc.movieCalendar.entity.User"/>
        <mapping class="edu.matc.movieCalendar.entity.UserRoles"/>
        <mapping class="edu.matc.movieCalendar.entity.Reminders"/>

    </session-factory>

</hibernate-configuration>